n8n/workflows/vulnscan-pipeline.json
{
  "name": "VulnScan Pipeline",
  "nodes": [
    {
      "parameters": {
        "content": "## Two entry points, one pipeline\n\n- **Webhook Trigger**: called by the Backend (`POST /targets/{id}/pipeline`). This is the production path — the Backend already created the `Scan` row and passes `scan_id`/`target_id`/`host` directly in the body.\n- **Form Trigger**: open this node's \"Test URL\" in a browser to run the whole pipeline by hand (type a `target_id`, no Backend/frontend call needed). Used for demos before Módulo 8 (frontend) exists.\n\nBoth branches converge at **Resolve Pipeline Context**, which is the only node that has to know which trigger actually fired. Everything after it is a single linear chain.",
        "height": 320,
        "width": 460
      },
      "id": "43914f81-cdf4-4acd-9c67-8504aad5f577",
      "name": "Sticky Note - Triggers",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4464,
        1168
      ]
    },
    {
      "parameters": {
        "content": "## Recon -> tool selection\n\nNmap runs first and unscoped (no port needed). **Select HTTP Port** reads Nmap's own response directly (not the DB) and picks the first open port that looks like HTTP(S) — this is the \"selección inteligente de herramientas\" stage from the architecture doc, kept intentionally simple. If Nmap found no open ports at all, this node returns zero items, which stops every downstream node automatically — no explicit IF/skip logic needed.",
        "height": 260,
        "width": 460
      },
      "id": "9b0dd565-fb74-44e1-8388-cfe7cfe9f345",
      "name": "Sticky Note - Recon",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5168,
        1072
      ]
    },
    {
      "parameters": {
        "content": "## Web scanning (sequential)\n\nWhatWeb, Nikto, Nuclei and ZAP run one after another rather than in parallel branches — the workflow graph stays a single linear chain (easy to read/debug in the editor), and ZAP's active scan alone (3-5 min) dominates total runtime regardless of whether the other three run before or after it. Running them concurrently is a reasonable future enhancement, not a correctness requirement.\n\nEach tool's raw result is posted straight through to the Backend's `/scans/{id}/tasks` endpoint (Módulo 5) unchanged — that endpoint's ingest schema mirrors the Scanner Service's response on purpose, so there's no reshaping here.",
        "height": 280,
        "width": 700
      },
      "id": "2c170f98-5a9d-4fed-8370-e17d924a43f4",
      "name": "Sticky Note - Scanning",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6032,
        1520
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vulnscan-pipeline",
        "options": {}
      },
      "id": "ce04b299-0fe9-4957-a655-7669c1572b63",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        4480,
        1520
      ],
      "webhookId": "28b81581-2ebc-49ff-9270-343a626caa58"
    },
    {
      "parameters": {
        "formTitle": "VulnScan — Manual Pipeline Trigger",
        "formDescription": "Run the full scan pipeline against an already-registered lab target (juice-shop or dvwa). For demos/testing without the Backend API or frontend.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "target_id",
              "placeholder": "UUID from GET /targets on the Backend",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "efa5cdec-e1b5-4e94-b3ac-987882530342",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        4048,
        1728
      ],
      "webhookId": "9a514774-daea-4421-b582-4d6f14624139"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "target_id",
              "value": "={{ $json.body.target_id }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "scan_id",
              "value": "={{ $json.body.scan_id }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "host",
              "value": "={{ $json.body.host }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "44115714-dc7c-41fc-bb8e-d02d400652f4",
      "name": "Edit Fields - From Webhook",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4704,
        1520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8000/targets/{{ $json.target_id }}/scans",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"triggered_by\": \"n8n-manual-trigger\" } }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "cfa5d75f-d491-4cfb-8593-e80a93c86596",
      "name": "Create Scan (Manual)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4256,
        1728
      ]
    },
    {
      "parameters": {
        "url": "=http://backend:8000/targets/{{ $json.target_id }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "2a94b50a-3416-44fd-a167-7372751227b1",
      "name": "Get Target (Manual)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4480,
        1728
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "target_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "b2",
              "name": "scan_id",
              "value": "={{ $('Create Scan (Manual)').item.json.id }}",
              "type": "string"
            },
            {
              "id": "b3",
              "name": "host",
              "value": "={{ $json.host }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d444474d-cd22-45ed-afaa-f68325cfe01a",
      "name": "Edit Fields - From Manual",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4704,
        1728
      ]
    },
    {
      "parameters": {
        "jsCode": "// Both trigger branches connect into THIS node's input — n8n's own\n// connection routing already resolves \"whichever branch actually ran\";\n// there's no need to go hunting for a node by name (an earlier version\n// of this node did that with $('NodeName'), which is fragile: on n8n's\n// external Task Runner, referencing a node that didn't execute doesn't\n// reliably throw the way it does in the legacy in-process VM, so the\n// try/catch silently produced 'incomplete context' instead of catching\n// anything). $input always reflects this node's real incoming data.\nconst items = $input.all();\n\nif (!items.length) {\n  throw new Error('Pipeline context is incomplete: no input reached this node from either trigger branch.');\n}\n\nconst ctx = items[0].json;\n\nif (!ctx.scan_id || !ctx.target_id || !ctx.host) {\n  throw new Error('Pipeline context is incomplete: expected target_id, scan_id and host, got: ' + JSON.stringify(ctx));\n}\n\nreturn [{ json: ctx }];"
      },
      "id": "d71bf89b-7e58-4752-b2db-becfbc9c332c",
      "name": "Resolve Pipeline Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4928,
        1584
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scanner:8100/scan/nmap",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"target\": $json.host } }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "5326e457-5919-4f2e-bca3-98977aa3c2e5",
      "name": "Scan: Nmap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5168,
        1376
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8000/scans/{{ $('Resolve Pipeline Context').item.json.scan_id }}/tasks",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "e6afbe12-38d4-4a59-95e3-f3723f7b56d0",
      "name": "Ingest: Nmap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5328,
        1376
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const nmapResult = $('Scan: Nmap').item.json;\nconst context = $('Resolve Pipeline Context').item.json;\n\nconst services = (nmapResult && nmapResult.parsed) || [];\n\n// \"Selección inteligente de herramientas\" (etapa 6 del pipeline): si Nmap\n// no encontró ningún puerto abierto, correr las herramientas HTTP no\n// tiene sentido. Devolver 0 items detiene el resto de la cadena.\nif (services.length === 0) {\n  return [];\n}\n\nconst httpService = services.find((s) => /http/i.test(s.service_name || ''));\nconst chosen = httpService || services[0];\nconst scheme = /https/i.test(chosen.service_name || '') ? 'https' : 'http';\n\nreturn [{\n  json: {\n    ...context,\n    port: chosen.port,\n    scheme,\n  },\n}];"
      },
      "id": "a73ba9be-1948-4be8-8fb8-26f275208690",
      "name": "Select HTTP Port",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5488,
        1376
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scanner:8100/scan/whatweb",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"target\": $('Select HTTP Port').item.json.host, \"port\": $('Select HTTP Port').item.json.port, \"scheme\": $('Select HTTP Port').item.json.scheme } }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "c0017846-d8f3-4d87-bf62-395e64665ebb",
      "name": "Scan: WhatWeb",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5664,
        1376
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8000/scans/{{ $('Resolve Pipeline Context').item.json.scan_id }}/tasks",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "029c8f0f-e856-4340-a9b7-994b1e2fd713",
      "name": "Ingest: WhatWeb",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5840,
        1376
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scanner:8100/scan/nikto",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"target\": $('Select HTTP Port').item.json.host, \"port\": $('Select HTTP Port').item.json.port, \"scheme\": $('Select HTTP Port').item.json.scheme, \"timeout_seconds\": 120, \"options\": { \"max_time\": \"90s\" } } }}",
        "options": {
          "timeout": 150000
        }
      },
      "id": "a242ccb5-7d5e-4413-a9f9-6486727614a1",
      "name": "Scan: Nikto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5168,
        1584
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8000/scans/{{ $('Resolve Pipeline Context').item.json.scan_id }}/tasks",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "3bba0d9d-33e4-4031-9d80-5cdb01a2818b",
      "name": "Ingest: Nikto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5328,
        1584
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scanner:8100/scan/nuclei",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"target\": $('Select HTTP Port').item.json.host, \"port\": $('Select HTTP Port').item.json.port, \"scheme\": $('Select HTTP Port').item.json.scheme, \"timeout_seconds\": 180, \"options\": { \"tags\": \"exposure,misconfig,tech,default-login\" } } }}",
        "options": {
          "timeout": 200000
        }
      },
      "id": "937d1543-f445-4f4e-a750-f6adabc4025c",
      "name": "Scan: Nuclei",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5488,
        1584
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8000/scans/{{ $('Resolve Pipeline Context').item.json.scan_id }}/tasks",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "84e63dd4-e701-4cf4-9016-02ae9b05fbef",
      "name": "Ingest: Nuclei",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5664,
        1584
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scanner:8100/scan/zap",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"target\": $('Select HTTP Port').item.json.host, \"port\": $('Select HTTP Port').item.json.port, \"scheme\": $('Select HTTP Port').item.json.scheme } }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "912a5d9f-e3c4-4283-a56c-00f8670f90d4",
      "name": "Scan: ZAP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5840,
        1584
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8000/scans/{{ $('Resolve Pipeline Context').item.json.scan_id }}/tasks",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "5aa8a443-56b9-4a61-9b00-9d6938e9bfda",
      "name": "Ingest: ZAP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5168,
        1792
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8000/scans/{{ $('Resolve Pipeline Context').item.json.scan_id }}/complete",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"status\": \"completed\" } }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "14d45cd3-cc92-4dba-966a-d5061cb58c65",
      "name": "Complete Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5328,
        1792
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8000/scans/{{ $('Resolve Pipeline Context').item.json.scan_id }}/reports?format=pdf",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {} }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "5141398c-fed5-4b1d-b39c-41ad23f6a025",
      "name": "Generate Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5488,
        1792
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1",
              "name": "message",
              "value": "=Pipeline finished for scan {{ $('Resolve Pipeline Context').item.json.scan_id }}. Report: {{ $('Generate Report').item.json.file_path || 'generation failed, see Generate Report node output' }}. Email: {{ $json.messageId ? 'sent' : 'not sent, see Send Report Email node output' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dad9652b-379c-49ea-973b-3bcc69c87f02",
      "name": "Pipeline Complete",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6096,
        1856
      ]
    },
    {
      "parameters": {
        "url": "=http://backend:8000/reports/{{ $json.id }}/download",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 30000
        }
      },
      "id": "35b37d11-6106-436a-a277-6c11039873cd",
      "name": "Download Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5664,
        1792
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "fromEmail": "vulnscan@lab.local",
        "toEmail": "cathryn.considine@ethereal.email",
        "subject": "=VulnScan Platform — Report for scan {{ $('Resolve Pipeline Context').item.json.scan_id }}",
        "text": "=Automated report attached for target host {{ $('Resolve Pipeline Context').item.json.host }} (scan {{ $('Resolve Pipeline Context').item.json.scan_id }}).\n\nGenerated by the VulnScan Platform pipeline — local lab use only, see docs/lab.md.",
        "emailFormat": "text",
        "options": {
          "attachments": "data"
        }
      },
      "id": "bf809e1d-af6f-4b25-9ff5-81570b6ac70f",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        5872,
        1856
      ],
      "webhookId": "10f50eed-09ee-4b63-8f54-4360111ddefb",
      "credentials": {
        "smtp": {
          "id": "zYWvhtYHvM3ps23z",
          "name": "SMTP account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields - From Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Create Scan (Manual)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - From Webhook": {
      "main": [
        [
          {
            "node": "Resolve Pipeline Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Scan (Manual)": {
      "main": [
        [
          {
            "node": "Get Target (Manual)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Target (Manual)": {
      "main": [
        [
          {
            "node": "Edit Fields - From Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - From Manual": {
      "main": [
        [
          {
            "node": "Resolve Pipeline Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Pipeline Context": {
      "main": [
        [
          {
            "node": "Scan: Nmap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan: Nmap": {
      "main": [
        [
          {
            "node": "Ingest: Nmap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest: Nmap": {
      "main": [
        [
          {
            "node": "Select HTTP Port",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select HTTP Port": {
      "main": [
        [
          {
            "node": "Scan: WhatWeb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan: WhatWeb": {
      "main": [
        [
          {
            "node": "Ingest: WhatWeb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest: WhatWeb": {
      "main": [
        [
          {
            "node": "Scan: Nikto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan: Nikto": {
      "main": [
        [
          {
            "node": "Ingest: Nikto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest: Nikto": {
      "main": [
        [
          {
            "node": "Scan: Nuclei",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan: Nuclei": {
      "main": [
        [
          {
            "node": "Ingest: Nuclei",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest: Nuclei": {
      "main": [
        [
          {
            "node": "Scan: ZAP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan: ZAP": {
      "main": [
        [
          {
            "node": "Ingest: ZAP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest: ZAP": {
      "main": [
        [
          {
            "node": "Complete Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Scan": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Download Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Report": {
      "main": [
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Report Email": {
      "main": [
        [
          {
            "node": "Pipeline Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "258f07be-a3a7-494c-8820-712652674c6c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "88823eab0dce5c0a0b4ccd538e4370b0caea5b032ec6a0b9c2881f15161eb96a"
  },
  "nodeGroups": [],
  "id": "vulnscan-pipeline",
  "tags": []
}